h1 {
  font-size: 30px;
  color: #72467c;
}

#contPriceTickets {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#title {
  display: flex;
  align-items: center;
  gap: 15px;
}

#title .fa-circle-info {
  margin-top: 3px;
  font-size: 17px;
}

#priceTickets {
  display: flex;
  flex-direction: column;
}

#priceTickets .contPrice {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
  border-bottom: 1px solid #cecece;
}

#priceTickets .contPrice p {
  width: 200px;
}

#priceTickets .contPrice .name {
  font-weight: bold;
}

#priceTickets .contPrice button {
  padding: 7px 12px;
  background-color: #72467c;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 0;
}

#priceTickets .contPrice button[disabled] {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

/**********************************************************************************************/

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 14px;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 145%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
