.login {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 500px;
  margin: 0 auto;
  margin-top: 60px;
  box-shadow: rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px, rgba(17, 17, 26, 0.1) 0 24px 80px;
}

h1 {
  margin: 10px 0 20px 0;
}

.login form {
  padding: 10px 50px 30px 50px;
}

.divImgLogin {
  text-align: center;
  margin-top: 15px;
}

.imgLogin {
  width: 180px;
}

.divInput {
  width: 100%;
  height: 50px;
  border: 1px solid #72467c;
  margin-bottom: 15px;
}

.divIcono {
  float: left;
  text-align: center;
  background-color: #a488ab;
  width: 15%;
  height: 100%;
}

.nameFields .divIcono {
  width: 30%;
}

.nameFields .divText {
  width: 70%;
}

.imgIcono {
  margin-top: 14px;
  width: 40%;
}

.divIcono i {
  margin-top: 14px;
  font-size: 22px;
}

.divText {
  float: right;
  width: 85%;
}

.divText #default {
  color: grey;
}

.inputLogin {
  height: 48px;
  font-size: 16px;
  width: 100%;
  padding-left: 10px;
  border: 0;
}

.divBoton {
  text-align: center;
  clear: both;
  width: 100%;
}

#botonRegister {
  padding: 5px;
  border: 0;
  background: #72467c;
  width: 100%;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

p {
  text-align: center;
}

.link {
  text-decoration: none;
  color: #1a2537;
  font-weight: 600;
}

.link:hover {
  color: #72467c;
}

.nameFields {
  display: flex;
  justify-content: space-between;
}

.nameFields .divInput {
  width: 48%;
}

/*********************************************************************************/

.error-message {
  color: #f44336;
  font-size: 14px;
  margin-bottom: 10px;
}
