header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: relative;
  background: rgba(16, 15, 15, 0.7);
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
  z-index: 2;
}

#logo {
  padding: 0 60px;
  color: white;
  text-decoration: none;
}

#logo a {
  text-decoration: none;
}

#items {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

#logo i {
  font-size: 30px;
  margin-right: 15px;
  color: white;
}

@font-face {
  font-family: 'Feta Morgana';
  src: url('./../../../../assets/Feta Morgana.otf') format('opentype');
}

#logo span {
  font-family: 'Feta Morgana', sans-serif;
  color: white;
  font-size: 25px;
}

button {
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: bold;
  border: 2px solid white;
  background-color: white;
  cursor: pointer;
}

button i {
  margin-right: 10px;
  color: #999;
}

button#register {
  background: transparent;
  color: white;
  padding: 10px 20px;
}

button#login {
  margin-right: 50px;
}

.userPhoto {
  border: 1px solid white;
  border-radius: 50px;
  max-width: 40px;
  margin: 0 45px 0 15px;
}

.user-container {
  position: relative;
  display: inline-block;
}

.user-info-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 12px;
  font-size: 12px;
  z-index: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
  right: 50px;
  top: 48px;
}

.user-info-dropdown p {
    margin-top: 5px;
}

.user-info-dropdown::after {
  content: "";
  position: absolute;
  top: -15%;
  right: 10px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.user-container:hover .user-info-dropdown {
  display: block;
}

.user-container .user-info-dropdown a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.user-container .user-info-dropdown a:hover {
  color: #72467c;
}
