#contSeats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 850px;
}

#legend {
  display: flex;
  gap: 30px;
  font-size: 20px;
}

#legend p {
  display: flex;
  align-items: center;
  gap: 10px;
}

#legend .seat {
  /*background-color: #4cc94c;*/
  background-color: #ff8200;
  cursor: default;
}

#legend .fa-square-xmark {
  font-size: 30px;
}

#legend .fa-wheelchair {
  padding: 5px 7px;
  color: white;
  background-color: #3232ff;
}

#screen {
  text-align: center;
  width: 75%;
  padding: 10px 70px;
  margin-bottom: 30px;
  background-color: #72467c;
  color: white;
  font-size: 18px;
  border-radius: 0 0 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

#seats {
  display: flex;
  gap: 50px;
  width: 70%;
  font-size: 35px;
}

#seats .columSeats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.seats-container {
  display: flex;
  flex-wrap: wrap;
}

.seat {
  width: 34px;
  height: 34px;
  background-image: url('./../../../../assets/seat.png');
  background-size: cover;
  background-blend-mode: multiply;
  cursor: pointer;
}

.seat.selected {
  background-color: #ff8200;
}

#contSeats button {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px 17px;
  font-weight: bold;
  font-size: 13px;
  border: 0;
  color: white;
  background-color: #72467c;
  cursor: pointer;
}

#contSeats button[disabled] {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
