form {
  width: 94%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-left: 35px;
}

input, textarea {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

#container01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
}

#container01 button {
  cursor: pointer;
  background-color: #72467c;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  padding: 10px 12px;
  text-align: center;
  font-size: 12px;
  margin-right: -35px;
}

button[type="submit"] {
  width: 100%;
  background-color: #72467c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #682975;
}

.error-message {
  color: #f44336;
  font-size: 14px;
  margin-bottom: 10px;
}
